@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>P1 - Фил Коллинз</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/p1.css"/>
</head>

<body>
<input type="button" value="Фил Коллинз" class="standart-button"
       onclick="location.href='@Url.Action("Practica1Person", "Practics")'"/>
<input type="button" value="Таблица" class="standart-button"
       onclick="location.href='@Url.Action("Practica1Table", "Practics")'"/>
<input type="button" value="Пушной. Рок жив" class="standart-button"
       onclick="location.href='@Url.Action("Practica1Source", "Practics")'"/>

</body>