@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>P1 - Фил Коллинз</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/p1.css"/>
</head>

<body>
    <h1 class="header" style="">Коллинз, Фил</h1>
<img class="img" src="~/imgs/Phil_Collins.jpg" alt="Phil_Collins"/>
<p> Фил Ко́ллинз LVO (англ. Phil Collins; полное имя Фи́лип Дэ́вид Чарльз Ко́ллинз (англ. Philip David Charles Collins); 
        род. 30 января 1951, Лондон) — английский рок/поп-певец, барабанщик и автор песен, актёр, продюсер.</p>
    <p>Получил известность как участник рок-группы Genesis, затем сделал впечатляющую сольную карьеру,
        продав свыше 150 миллионов экземпляров своих альбомов. Среди его наград — «Оскар» за лучшую песню к мультфильму «Тарзан».</p>
<br>
<p>
    Фил Коллинз является одним из трёх музыкантов за всю историю (вместе с Полом Маккартни и Майклом Джексоном), 
    'чьи альбомы были проданы по всему миру тиражом более ста миллионов экземпляров — и как соло-исполнителя, 
    и (отдельно) как участника музыкального коллектива[12][13]. В то время как за всю свою карьеру «Genesis» лишь 
    однажды сумели взобраться на вершину чарта Billboard Hot 100, Коллинзу удалось сделать это семь раз — 
    с синглами «Against All Odds» (1984), «One More Night» (1985), «Sussudio» (1985), «Separate Lives» (1985), 
    «A Groovy Kind of Love» (1988), «Two Hearts» (1988) и — пожалуй, наиболее известной своей песней — «Another Day in Paradise» (1989). 
    Своеобразной визитной карточкой Коллинза по-прежнему остаётся самый первый сольный сингл, «In the Air Tonight».
</p>
<h3>Достижения</h3>
<ul>
    <li>Альбомы были проданы по всему миру тиражом более ста миллионов экземпляров</li>
    <li>В списке «100 величайших барабанщиков всех времён» журнала Rolling Stone занял 43-е место</li>
</ul>
<input style="margin-top: 30px;" type="button" value="Главная" class="standart-button"
                     onclick="location.href='@Url.Action("Practica1", "Practics")'"/>
</body>
