@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>P2 - Телефон</title>
    <link rel="stylesheet" href="~/css/p2.css"/>
    <link rel="stylesheet" href="~/css/reset.css"/>
</head>
<header>
    
</header>
<body>
  <div class="mini">
    <a href="#phone1"><img src="~/imgs/img.svg" alt="" class="img-mini"/></a>
      <div class="container-mini">
        <div>
        <a href="#phone1" class="name-mini">Samsung Galaxy A32</a>
      </div>
      <p class="about-mini">Современный смартфон, 4 ядра, 128 Гб оперативной памяти</p>
      <div class="costs-mini">
        <span class="cost-mini">19 590<span class="rub-mini">руб</span></span>
      </div>
      <a href="#phone1" class="buy-mini">Купить</a>
    </div>
  </div>
<div id="phone1" class="full">
  <div class="container">
    <div class="right">
      <div class="links">
        <a href="/" class=link>Каталог </a>
        <span>/</span>
        <a href="/" class=link>Смартфоны</a>
      </div>
      <img src="~/imgs/img.svg" alt="" class="img"/>
    </div>
    <div class="left">
      <div>
        <h1 class="name">Samsung Galaxy A32</h1>
      </div>

      <p class="about">Современный смартфон, 4 ядра, 128 Гб оперативной памяти</p>

      <div class="costs">
        <span class="old">24 590</span>
        <span class="cost">19 590<span class="rub">руб</span></span>
      </div>

      <div class="colors">
        <span class="col">Выберите цвет:</span>
        <div class="colors3">
          <div class="color_item red">
            <input type="radio" id="radio1" name="radio" class="c_check" value="1">
            <label for="radio1" class="lab"></label>
          </div>


          <div class="color_item black2">
            <input type="radio" id="radio2" name="radio" class="c_check black" value="2">
            <label for="radio2" class="lab"></label>
          </div>

          <div class="color_item blue2">
            <input type="radio" id="radio3" name="radio" class="c_check blue" value="3">
            <label for="radio3" class="lab"></label>
          </div>
        </div>

      </div>

      <div class="buttons">
        <button class="btn1">В корзину</button>
        <button class="btn2">Купить в 1 клик</button>
      </div>

      <ul class="lists">
        <li class="list">✔ Бесплатная доставка</li>
        <li class="list">✔ Гарантия <span class="pink">1 год</span></li>
        <li class="list">✔ <span class="pink">200 бонусов</span> на карту</li>

      </ul>

    </div>
  </div>
</div>
</body>