@{
    Layout = null;
}

<!doctype html>
<html>
	<head>
	<title>Видео моей игры на пианино</title>
	</head>
	<body>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/66EOIlzZzMo" title="Phil Collins | РОК ЖИВ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
	
	<br>
	<a href="https://youtu.be/66EOIlzZzMo" target="_blank">Ссылка на источник</a>
	<br>
	<input style="margin-top: 30px;" type="button" value="Главная" class="standart-button"
                         onclick="location.href='@Url.Action("Practica1", "Practics")'"/>
	</body>
</html>