@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>P4 - Кинопоиск</title>
    <link rel="stylesheet" href="~/css/p4.css"/>
    <link rel="stylesheet" href="~/css/reset.css"/>
</head>
<body>
  <div class="container">
    <div class="back_title">
      <h1 class="title">Онлайн-кинотеатр “Кинопоиск”</h1>
    </div>

    <form class="search" action="">
      <input class="text" type="text" placeholder="Введите название фильма" />
      <button class="btn" type="submit"></button>
    </form>

    <div class="films">
      <div class="film">
        <img src="~/imgs/P4/image 1.svg" alt="" title="Uncharted" class = "fimg"/>
        <img src="~/imgs/P4/star.svg" alt="" class="star" />
        <span class="mark">4.3</span>
        <div class="film_about">
          <h3 class="film_name">Uncharted</h3>
          <p class = "film_p">
              Два искателя приключений Нейтан Дрейк и Виктор Салливан по прозвищу
              Салли отправляются на поиски величайшего сокровища мира. Кроме того,
              они надеются найти улики, которые приведут их к давно потерянному
              брату Нейтана.
            </p>
          <button class = "film_btn">
              <img src="~/imgs/P4/Frame.svg" alt="">
              <span class = "btn_f">Смотреть</span>
          </button>
        </div>
        
      </div>
      <div class="film">
        <img src="~/imgs/P4/image 2.svg" alt="" title="Человек-паук: Вдали от дома" class = "fimg" />
        <img src="~/imgs/P4/star.svg" alt="" class="star" />
        <span class="mark">3.5</span>
        <div class="film_about">
          <h3 class="film_name">Человек-паук: Вдали от дома</h3>
          <p class = "film_p">
              Два искателя приключений Нейтан Дрейк и Виктор Салливан по прозвищу
              Салли отправляются на поиски величайшего сокровища мира. Кроме того,
              они надеются найти улики, которые приведут их к давно потерянному
              брату Нейтана.
            </p>
            <button class = "film_btn">
              <img src="~/imgs/P4/Frame.svg" alt="">
              <span class = "btn_f">Смотреть</span>
          </button>
        </div>
      </div>
      <div class="film">
        <img src="~/imgs/P4/image 3.svg" alt="" title="Гарри Поттер и философский камень" class = "fimg"/>
        <img src="~/imgs/P4/star.svg" alt="" class="star" />
        <span class="mark">4.1</span>
        <div class="film_about">
          <h3 class="film_name">Гарри Поттер и философский камень</h3>
          <p class = "film_p">
              Два искателя приключений Нейтан Дрейк и Виктор Салливан по прозвищу
              Салли отправляются на поиски величайшего сокровища мира. Кроме того,
              они надеются найти улики, которые приведут их к давно потерянному
              брату Нейтана.
            </p>
            <button class = "film_btn">
              <img src="~/imgs/P4/Frame.svg" alt="">
              <span class = "btn_f">Смотреть</span>
          </button>
        </div>
      </div>
      <div class="film">
        <img src="~/imgs/P4/image 4.svg" alt="" title="Титаник" class = "fimg"/>
        <img src="~/imgs/P4/star.svg" alt="" class="star" />
        <span class="mark">3.7</span>
        <div class="film_about">
          <h3 class="film_name">Титаник</h3>
          <p class = "film_p">
              Два искателя приключений Нейтан Дрейк и Виктор Салливан по прозвищу
              Салли отправляются на поиски величайшего сокровища мира. Кроме того,
              они надеются найти улики, которые приведут их к давно потерянному
              брату Нейтана.
            </p>
            <button class = "film_btn">
              <img src="~/imgs/P4/Frame.svg" alt="">
              <span class = "btn_f">Смотреть</span>
          </button>
        </div>
      </div>
      <div class="film">
        <img src="~/imgs/P4/image 5.svg" alt="" title="Кинг конг" class = "fimg"/>
        <img src="~/imgs/P4/star.svg" alt="" class="star" />
        <span class="mark">5.0</span>
        <div class="film_about">
          <h3 class="film_name">Кинг конг</h3>
          <p class = "film_p">
              Два искателя приключений Нейтан Дрейк и Виктор Салливан по прозвищу
              Салли отправляются на поиски величайшего сокровища мира. Кроме того,
              они надеются найти улики, которые приведут их к давно потерянному
              брату Нейтана.
            </p>
            <button class = "film_btn">
              <img src="~/imgs/P4/Frame.svg" alt="">
              <span class = "btn_f">Смотреть</span>
          </button>
        </div>
      </div>
      <div class="film">
        <img src="~/imgs/P4/image 6.svg" alt="" title="This Gun For Hire"class = "fimg" />
        <img src="~/imgs/P4/star.svg" alt="" class="star" />
        <span class="mark">2.5</span>
        <div class="film_about">
          <h3 class="film_name">This Gun For Hire</h3>
          <p class = "film_p">
              Два искателя приключений Нейтан Дрейк и Виктор Салливан по прозвищу
              Салли отправляются на поиски величайшего сокровища мира. Кроме того,
              они надеются найти улики, которые приведут их к давно потерянному
              брату Нейтана.
            </p>
            <button class = "film_btn">
              <img src="~/imgs/P4/Frame.svg" alt="">
              <span class = "btn_f">Смотреть</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</body>